---
title: Software
permalink: software
---

<p class="lead">While CUL Studio practice does not pursue a strictly
  tool-oriented approach to digital, data-driven research and pedagogy, we find
  that our goals of ethical, sustainable, collaborative, and FAIR work align
  best with software that is free and/or open source as well as with file
  formats that are open and as flat as possible. To that end, we recommend that
  our collaborators—especially beginners—install and use the following
  applications on their computers.</p>

<div class="mb-2 d-flex align-items-end">
  <button class="btn btn-primary ml-auto disabled" id="show-all-software">Show All Software</button>
</div>
<div class="software-list list-group mb-3">
  {% for app in site.software %}
    <div class="software-item list-group-item {{ app.tags | join: " " }}">
    {% capture name %}{{ app.path | replace: "_software/", "" | replace: ".md", "" }}{% endcapture %}
      <div class="row">
        <div class="col-md-1 col-2">
          {% unless app.no-icon %}
            <img class="img-fluid" src="{{ site.baseurl }}/assets/imgs/icons/{{ name }}.png" alt="{{ app.full-name }} icon">
          {% endunless %}
        </div>
        <div class="col-md-11 col-10">
          <h4>{{ app.full-name }}</h4>
          <h5>{{ app.description }}</h5>
          <div class=" d-flex justify-content-end align-items-end">
            {% for tag in app.tags %}
              <span class="ml-2 badge badge-secondary badge-pill {{tag}}">{{ tag }}</span>
            {% endfor %}
          </div>

          <div class="nav nav-justified">
            <a class="nav-item nav-link" href="{{ app.url }}" target="_blank">
              <i class="fas fa-home" title="{{ app.full-name }} home page"></i>
              <span class="sr-only">{{ app.full-name }} home page</span>
            </a>
            <a class="nav-item nav-link" href="{{ app.documentation.main }}" target="_blank">
              <i class="fas fa-question-circle" title="{{ app.full-name }} main documentation"></i>
              <span class="sr-only">{{ app.full-name }} main documentation</span>
            </a>
            {% if app.latest.installers.mac %}
              <a class="nav-item nav-link" href="{{ app.latest.installers.mac }}" target="_blank">
                <i class="fab fa-apple" title="{{ app.full-name }} MacOS installer"></i>
                <span class="sr-only">{{ app.full-name }} MacOS installer</span>
              </a>
            {% else %}
              <a class="disabled nav-item nav-link">
                <i class="fab fa-apple" title="No {{ app.full-name }} MacOS installer"></i>
              </a>
            {% endif %}
            {% if app.latest.installers.windows %}
              <a class="nav-item nav-link" href="{{ app.latest.installers.windows }}" target="_blank">
                <i class="fab fa-windows" title="{{ app.full-name }} Windows installer"></i>
                <span class="sr-only">{{ app.full-name }} Windows installer</span>
              </a>
            {% else %}
              <a class="nav-item nav-link disabled">
                <i class="fab fa-windows" title="No {{ app.full-name }} Windows installer"></i>
              </a>
            {% endif %}
            {% if app.latest.installers.linux %}
              <a class="nav-item nav-link" href="{{ app.latest.installers.linux }}" target="_blank">
                <i class="fab fa-linux" title="{{ app.full-name }} Linux installer"></i>
                <span class="sr-only">{{ app.full-name }} Linux installer</span>
              </a>
            {% else %}
              <a class="disabled nav-item nav-link">
                <i class="fab fa-linux" title="No {{ app.full-name }} Linux installer"></i>
              </a>
            {% endif %}
          </div>

        </div>
      </div>
    </div>
  {% endfor %}
</div>
