  <div class="wrapper">
  	<div id="widgets" class="home-widgets">
  		<div id="home_widget_1" class="grid col-300">

        <div class="widget-wrapper">
          {% assign sorted_pages = (site.upcoming | sort: 'pid') %}
          {% assign today = (site.time | date: '%y%m%d%H' | plus: 0) %}
          <!-- Upcoming -->
          {% for item in sorted_pages %}
            {% if item.pid > today %}
            <h2>Upcoming</h2>
            <ul class="bwEventList">
            {% break %}
            {% endif %}
          {% endfor %}
          {% assign count = 0 %}
          {% for item in sorted_pages %}
            {% if item.pid > today %}
              <li>
                <span class="bwSummary">
                <a href="{{ site.baseurl }}{{ item.url }}"><strong>{{item.title}}</strong></a>
                </span>
                <br>
                <span class="bwDateTime">{{item.time-slot}}</span>
              </li>
              {% assign count = count | plus: 1 %}
              {% if count > 2 %}
                  {% break %}
              {% else %}
              {% endif %}
           {% else %}
           {% endif %}
          {% endfor %}
          {% for item in sorted_pages %}
            {% if item.pid > today %}
            </ul>
            {% break %}
            {% endif %}
          {% endfor %}
          <!-- Recent -->
          {% for item in sorted_pages %}
            {% if item.pid < today %}
            <h2>Recent</h2>
            <ul class="bwEventList">
            {% break %}
            {% endif %}
          {% endfor %}
          {% assign count = 0 %}
          {% for item in sorted_pages %}
            {% if item.pid < today %}
              <li>
                <span class="bwSummary">
                <a href="{{ site.baseurl }}{{ item.url }}"><strong>{{item.title}}</strong></a>
                </span>
                <br>
                <span class="bwDateTime">{{item.time-slot}}</span>
              </li>
              {% assign count = count | plus: 1 %}
              {% if count > 2 %}
                  {% break %}
              {% else %}
              {% endif %}
           {% else %}
           {% endif %}
          {% endfor %}
          {% for item in sorted_pages %}
            {% if item.pid < today %}
            </ul>
            {% break %}
            {% endif %}
          {% endfor %}




        </div>
      </div>
      <div id="home_widget_2" class="grid col-300">
        <div class="widget-wrapper">
          <h2>Ongoing</h2>
          <ul class="bwEventList">
          {% assign sorted_pages = (site.ongoing | sort: 'title') %}
          {% for item in sorted_pages %}
          {% if item.active %}
            <li>
              <span class="bwSummary">
              <a href="{{ site.baseurl }}{{ item.url }}"><strong>{{item.title}}</strong></a>
              </span>
              <br>
              <span class="bwDateTime">{{item.time-slot}}</span>
            </li>
           {% endif %}
          {% endfor %}
          </ul>
        </div>
      </div>
      <div id="home_widget_3" class="grid col-300 fit">
        <div class="widget-wrapper">
          <h2>About us</h2>
          <p>The Studio is a flexible space in 208b Butler Library that supports a range of events and activities for up to 40 people. The space is scheduled and managed by the <a href="http://ctl.columbia.edu/" style="display: inline"  target="_blank">Center for Teaching and Learning</a> and the Digital Scholarship unit at Columbia University Libraries. To learn more about our partners visit our <a href="{{site.baseurl}}/partners/">Partners page</a>. Members of the Columbia community may request use of the Studio for an educational or digital scholarship project. To do so <a href="mailto:{{site.email}}" target="_blank">send us a line</a>. To receive updates sign up to our <a href="https://lists.columbia.edu/mailman/listinfo/studioatbutler">mailing list.</p>

          <p>For more information, see our <a href="{{site.baseurl}}/faq/">Studio FAQs</a>.</p>
        </div>
      </div>
  	</div>
	</div>
