---
layout: default
alert:
  heading: RSVP for Scholar.txt Workshops
  body: "Please RSVP for our [workshop series](workshop/2019/01/04/write-in-plain-text-with-scholartxt-2019-01/) via [the Columbia Events page](https://events.columbia.edu/cal/event/eventView.do?b=de&calPath=%2Fpublic%2Fcals%2FMainCal&guid=CAL-00bb9e24-6812f580-0168-14ad028a-00000c2aevents@columbia.edu)."
---

{% include carousel.html %}

<div class="my-3 card-deck">
  {% include space-card.html %}
  {% include practice-card.html %}
</div>
