<div id="carousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    {% for slide in site.data.carousel %}
      {% if slide.img.src contains "http" %}
        {% assign imgsrc = slide.img.src %}
      {% else %}
        {% capture imgsrc %}{{ slide.img.src | prepend: site.baseurl }}{%endcapture %}
      {% endif %}
      <div class="carousel-item">
        <img class="d-block w-100" src="{{ imgsrc }}" alt="{{ slide.img.alt }}">
        <div class="carousel-caption" style="background: rgba(0,0,0,.5);">
          <h5>{{ slide.head }}</h5>
          {{ slide.subtext | markdownify }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
