<div class="ml-2 card w-50 float-right events-sidebar">
  <div class="card-header">
    Associated Events
  </div>
  <div class="card-body">
    <div class="event-list list-group list-group-flush">
    {% for event in page.events %}
      <div class="list-group-item">
        <h5>{{ event.title }}</h5>
          {% capture start_day %}{{ event.start | date: "%a, %b %d" }}{% endcapture %}
          {% capture end_day %}{{ event.start | date: "%a, %b %d" }}{% endcapture %}
          {% if start_day == end_day %}
            {{ event.start | date: "%a, %b %e %l:%M %P" }} – {{ event.end | date: "%l:%M %P" }}<br />
          {% else %}
            {{ event.start | date: "%a, %b %e %l:%M %P" }} – {{ event.end | date: "%a, %b %e %l:%M %P" }}<br />
          {% endif %}
          {% assign location = site.spaces | where:"tag",event.location | first %}
          <a href={{ location.tag | prepend: "/spaces/" | relative_url }}>{{ location.title }}</a>
          {% if event.guid %}
            (<a href="https://events.columbia.edu/cal/event/eventView.do?b=de&calPath=%2Fpublic%2Fcals%2FMainCal&guid={{ event.guid }}" target="_blank">RSVP <i class="far fa-calendar-alt"></i></a>)
          {% endif %}
      </div>
    {% endfor %}
    </div>
  </div>
</div>

