<header class="mt-3 d-flex justify-content-end">
  <h1 class="sr-only">Columbia University Libraries Studio</h1>
  <div class="d-none d-sm-block">
    <div id="libraries-header" class="d-flex align-items-center">
      Columbia<br />University<br />Libraries</div>
  </div>
  <h1 class="align-end ml-3">Studio</h1>
  <div class="ml-3">  
    <a href="{{ site.baseurl }}/">
      <img id="logo" src="{{ site.data.images.lion-72px.src }}" alt="{{ site.data.images.lion-72px.alt }}" />
    </a>
  </div>
</header>
