<header id="studio-header" class="mt-3 d-flex justify-content-end">
  <h1 class="sr-only">Columbia University Libraries Studio</h1>
  <div>
    <img
      id="libraries-stacked-header-logo"
      class="d-none d-md-inline align-baseline"
      src="{{ site.data.images.libraries-stacked.src }}"
      alt="{{ site.data.images.libraries-stacked.alt }}"
    />
    <span id="studio-h1" class="ml-3">Studio</span>
  </div>
  <div class="ml-3 pt-2">
    <a href="{{ site.baseurl }}/">
      <img
        id="logo"
        src="{{ site.data.images.lion-72px.src }}"
        alt="{{ site.data.images.lion-72px.alt }}"
      />
    </a>
  </div>
</header>
