<head>
  {% capture title %}{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% endcapture %}
  {% capture raw_description %}
    {% if page.excerpt %}
      {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
    {% elsif page.description %}
      {{ page.description }}
    {% else %}
      {{ site.description }}
    {% endif %}
  {% endcapture %}
  {% capture description %}{{ raw_description | strip }}{% endcapture %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:description" content="{{ description }}">
  <meta property="fb:admins" content="elotroalex"/>
  <meta property="og:url" rel="canonical" content="https://studio.cul.columbia.edu/{{page.url}}"/>
  <meta property="fb:app_id" content="589495744558280"/>
  <meta property="og:image" content="https://studio.cul.columbia.edu/assets/og-moth.jpg"/>
  <meta property="og:image:width" content="300" />
  <meta property="og:image:height" content="300" />
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="https://studio.cul.columbia.edu/">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
