<h3>Welcome</h3>

<p>
  Butler Studio is open again! Our Studio Remote is now on
  <a href="https://www.youtube.com/@cul-studio" target="_blank">YouTube</a>. You
  can also visit us at
  <a href="https://library.columbia.edu/services/research-data-services.html"
    >our Research Data Services page</a
  >
  to learn more about our services. Or give us a
  <a href="https://instagram.com/columbialibdata" target="_blank"
    >follow on Instagram</a
  >.
</p>

<ul>
  <li>
    <a
      href="https://library.columbia.edu/services/research-data-services/events.html"
      >Columbia University Libraries Studio Calendar</a
    >
  </li>
</ul>
