<h3>Welcome</h3>

<p>
  Butler Studio is open again for Fall 2022! Our Studio Remote is now on
  <a
    href="https://www.youtube.com/channel/UCLOUh6s8E2FYAVAsJg3lgoA"
    target="_blank"
    >YouTube</a
  >. You can also visit us at
  <a href="https://library.columbia.edu/services/research-data-services.html"
    >our Research Data Services page</a
  >
  to learn more about our services.
</p>

<ul>
  <li>
    <a
      href="https://library.columbia.edu/services/research-data-services/events.html"
      >Columbia University Libraries Studio Calendar</a
    >
  </li>
</ul>
