<h3>Calendars</h3>

{% assign labs = site.data.open-labs %}

<ul>
  <li><a href="https://library.columbia.edu/services/research-data-services/events.html">Columbia University Libraries Studio Calendar</a></li>
  <li>{{ labs.meta.semester }} Open Labs 
    <small>({{ labs.meta.semester-start | date: "%b %e" }} – {{ labs.meta.semester-end | date: "%b %e" }})</small>
    <ul>
      {% for lab in site.spaces %}
        <li>
          <a href={{ lab.tag | prepend: "/spaces/" | relative_url }}>{{ lab.title }}</a>:
          <ul>
            <li>
              {{ lab.open-lab.days }}, 
              {{ lab.open-lab.start-time | date: "%l:%M %P"}} –
              {{ lab.open-lab.end-time | date: "%l:%M %P"}}
            </li>
          </ul>
        </li>
      {% endfor %}
    </ul>
  </li>
  <li><a href="https://library.columbia.edu/services/research-data-services/schedule.html">Research Data Services Walk-in Schedule</a></li>
</ul>

