<div class="card">
  <div class="card-header d-flex">
    <div class="mr-auto"><h2 class="mb-0">Space</h2></div>
    <ul class="nav justify-content-end nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link active" href="#">Butler</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lehman</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SEL</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">CUL Studio Butler</h5>

    <p>The original CUL Studio, Butler hosts talks and the famous Friday Open
      Lab that has helped spawn and nurture some awesome projects.</p>

  </div>
</div>

