<div class="card">
  <div class="card-header d-flex">
    <div class="mr-auto"><h2 class="mb-0">Space</h2></div>
    <ul class="nav justify-content-end nav-pills card-header-pills" id="space-tabs" role="tablist">
      {% for space in site.data.spaces %}
        {% if space == site.data.spaces.first %}
          {% assign active = "active" %}
          {% assign selected = "true" %}
        {% else %}
          {% assign active = "" %}
          {% assign selected = "false" %}
        {% endif %}
        <li class="nav-item">
          <a class="space-tab nav-link {{ active }}" href="#{{ space.tag }}" id="{{ space.tag }}-tab" data-toggle="pill" role="tab" aria-controls="{{ space.tag }}" aria-selected="{{ selected }}">{{ space.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="card-body">
    <div class="tab-content" id="space-tab-content">
      {% for space in site.data.spaces %}
        {% if space == site.data.spaces.first %}
          {% assign active = "active" %}
        {% else %}
          {% assign active = "" %}
        {% endif %}
        <div class="tab-pane {{ active }}" id="{{ space.tag }}" role="tabpanel" aria-labelledby="{{ space.tag }}-tab">
          <h5 class="card-title">CUL Studio {{ space.name }}</h5>
          <div class="row">
            <div class="col-xl-6 order-12 order-xl-1">
              {{ space.text | markdownify }}
            </div>
            <div class="col-xl-6 order-1 order-xl-12">
              <img class="img-fluid" src="{{ space.img.src | prepend: site.baseurl }}" alt="{{ space.img.alt }}" />
              <ul class="nav nav-justified">
                <li class="nav-item">
                  <a class="nav-link" href="{{ space.tag }}-location"><i class="fas fa-map-marked-alt"></i><span class="sr-only">Location</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ space.tag }}-calendar"><i class="far fa-calendar-alt"></i><span class="sr-only">Calendar</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ space.tag }}-archive"><i class="fas fa-archive"></i><span class="sr-only">Archive</span></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

