  <div class="wrapper">
  	<div id="widgets" class="home-widgets">
  		<div id="home_widget_1" class="grid col-300">
        <div class="widget-wrapper">
          <h2>Events</h2>
          <div id="bwOutput"></div>
          <script type="text/javascript" src="https://events.columbia.edu/3.10/calfeedrsrc.MainCampus/default/default/theme/javascript/eventListWidget.js"> </script>
          <script type="text/javascript" src="https://events.columbia.edu/feeder/main/eventsFeed.do?f=y&sort=dtstart.utc:asc&fexpr=(categories.href!=%22/public/.bedework/categories/sys/Ongoing%22)%20and%20(categories.href=%22/public/.bedework/categories/org/UniversityEvents%22)%20and%20(entity_type=%22event%22%7Centity_type=%22todo%22)&skinName=list-json&setappvar=objName(bwObject)&count=5"> </script>
          <script type="text/javascript">
          var bwJsWidgetOptions = {
            title: "Upcoming Events",
            showTitle: false,
            displayDescription: false,
            calendarServer: "https://events.columbia.edu",
            resourcesRoot: "https://events.columbia.edu/3.10/calfeedrsrc.MainCampus/default/default/theme",
            limitList: false,
            limit: 5,
            displayStartDateOnlyInList: true,
            displayTimeInList: true,
            displayLocationInList: false,
            listMode: "byTitle",
            displayInNewWindow: true,
          };
            insertBwEvents("bwOutput",bwObject,bwJsWidgetOptions);
          </script>

        </div>
      </div>
      <div id="home_widget_2" class="grid col-300">
        <div class="widget-wrapper">
          <h2>Ongoing</h2>
          <ul class="bwEventList">
          {% for item in site.happenings do %}
            <li>
              <span class="bwSummary">
              <a href="{{ site.baseurl }}{{ item.url }}"><strong>{{item.title}}</strong></a>
              </span>
              <br>
              <span class="bwDateTime">{{item.time-slot}}</span>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div id="home_widget_3" class="grid col-300 fit">
        <div class="widget-wrapper">
          <h2>About us</h2>
          <p>The Studio is a modular space in 208b Butler Library that supports a range of events and activities for up to 40 people. The space is scheduled and managed by the GSAS Teaching Center and the Digital Humanities Center. To learn more about our partners visit our <a href="{{site.baseurl}}/partners.html">Partners page</a>. Members of the Columbia community may request use of the Studio for an educational or digital scholarship project. To do so <a href="mailto:{{site.email}}" target="_blank">send us a line</a>.</p>

          <p>For more information, see our <a href="{{site.baseurl}}/faq.html">Studio FAQs</a>.</p>
        </div>
      </div>
  	</div>  
	</div>