  <div class="wrapper">
  	<div id="widgets" class="home-widgets">
  		<div id="home_widget_1" class="grid col-300">
        <div class="widget-wrapper">
          <h2>Happenings</h2>
          <p>Nullam sapien dui, placerat in velit non, rhoncus ornare nisi. Donec malesuada sagittis magna, at aliquet risus interdum vitae. Curabitur elementum nunc lectus, ac maximus enim dapibus vel. Proin eget neque a nisl ultrices volutpat. Aenean laoreet consequat ipsum, quis dignissim nulla ultrices non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ut auctor dui. Morbi cursus, nisl cursus rhoncus lobortis, diam mauris dapibus ex, ac faucibus ex diam quis justo. Integer quis arcu magna. Curabitur accumsan elementum eros, in convallis nunc rutrum in. Sed porttitor sit amet nisl nec bibendum. Vivamus ut urna suscipit, mollis nulla nec, venenatis erat. Sed feugiat eros ut elit ornare accumsan.</p>
        </div>
      </div>
      <div id="home_widget_2" class="grid col-300">
        <div class="widget-wrapper">
          <h2>What we host</h2>
          <p>Nullam sapien dui, placerat in velit non, rhoncus ornare nisi. Donec malesuada sagittis magna, at aliquet risus interdum vitae. Curabitur elementum nunc lectus, ac maximus enim dapibus vel. Proin eget neque a nisl ultrices volutpat. Aenean laoreet consequat ipsum, quis dignissim nulla ultrices non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ut auctor dui. Morbi cursus, nisl cursus rhoncus lobortis, diam mauris dapibus ex, ac faucibus ex diam quis justo. Integer quis arcu magna. Curabitur accumsan elementum eros, in convallis nunc rutrum in. Sed porttitor sit amet nisl nec bibendum. Vivamus ut urna suscipit, mollis nulla nec, venenatis erat. Sed feugiat eros ut elit ornare accumsan.</p>
        </div>
      </div>
      <div id="home_widget_3" class="grid col-300 fit">
        <div class="widget-wrapper">
          <h2>About us</h2>
          <p>Nullam sapien dui, placerat in velit non, rhoncus ornare nisi. Donec malesuada sagittis magna, at aliquet risus interdum vitae. Curabitur elementum nunc lectus, ac maximus enim dapibus vel. Proin eget neque a nisl ultrices volutpat. Aenean laoreet consequat ipsum, quis dignissim nulla ultrices non. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Integer ut auctor dui. Morbi cursus, nisl cursus rhoncus lobortis, diam mauris dapibus ex, ac faucibus ex diam quis justo. Integer quis arcu magna. Curabitur accumsan elementum eros, in convallis nunc rutrum in. Sed porttitor sit amet nisl nec bibendum. Vivamus ut urna suscipit, mollis nulla nec, venenatis erat. Sed feugiat eros ut elit ornare accumsan.</p>
        </div>
      </div>
  	</div>  
	</div>