/* Button */
.call-to-action {
    text-align: center;
}

.call-to-action a.button {
    font-size: 24px;
    padding: 10px 35px;
}

.call-to-action a.button:hover {
    text-decoration: none;
}

a.blue {
    background-color: #B7CDD4; /* Dodger Blue */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#356E81), to(#B7CDD4));
    background-image: -webkit-linear-gradient(top, #356E81, #B7CDD4);
    background-image: -moz-linear-gradient(top, #356E81, #B7CDD4);
    background-image: -ms-linear-gradient(top, #356E81, #B7CDD4);
    background-image: -o-linear-gradient(top, #356E81, #B7CDD4);
    background-image: linear-gradient(to top, #356E81, #B7CDD4);
    border: 1px solid #115290;
    color: #ffffff;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#356E81, endColorstr=#B7CDD4)";
    text-shadow: 0 -1px 0 #115290;
}

a.blue:hover {
    background-color: #093447;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#093447), to(#B7CDD4));
    background-image: -webkit-linear-gradient(top, #093447, #B7CDD4);
    background-image: -moz-linear-gradient(top, #093447, #B7CDD4);
    background-image: -ms-linear-gradient(top, #093447, #B7CDD4);
    background-image: -o-linear-gradient(top, #093447, #B7CDD4);
    background-image: linear-gradient(to top, #093447, #B7CDD4);
    border: 1px solid #115290;
    color: #ffffff;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#093447, endColorstr=#B7CDD4)";
    text-shadow: 0 -1px 0 #115290;
}

/* Decorative image */

#lead-image {
    margin: 40px 0 0 0;
}

#lead-image .fluid-width-video-wrapper {
    margin-left: -20px;
}

.lead-image img {
    margin-top: 44px;
}

