h1 {
  font-family: "Trajan Pro", "Cinzel", serif;
  font-size: 2.75rem;
}

#logo {
  height: 2.75rem;
}

@media (min-width: 768px) { 
  h1 {
    font-size: 4.5rem;
  }

  #logo {
    height: 4.5rem;
  }
}
