@charset "utf-8";

$title-font: "Trajan Pro", "Cinzel", serif;
$font-family-base: "Adobe Garamond", "EB Garamond", "Garamond", serif;
$font-family-monospace: "Source Code Pro", Monaco, monospace;


// Our variables
$base-line-height: 1.5;
$base-font-weight: 400;

$spacing-unit:     30px;

$text-color:       #333;
$background-color: #fdfdfd;
$brand-color:      #88A9B8;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1020px;

$on-palm:          600px;
$on-laptop:        800px;

$theme-colors: (
  "primary": $brand-color,
  "secondary": #356E81
);

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

$font-size-base:              1rem;
$h1-font-size:                4.5rem;
$card-columns-count: 4;

.map {
  height: 300px;
}

#logo {
  height: $h1-font-size;
}

@import "./vendor/bootstrap/scss/functions";
@import "./vendor/bootstrap/scss/variables";
@import "./vendor/bootstrap/scss/mixins";
@import "./vendor/bootstrap/scss/reboot";
@import "./vendor/bootstrap/scss/type";
@import "./vendor/bootstrap/scss/images";
@import "./vendor/bootstrap/scss/code";
@import "./vendor/bootstrap/scss/grid";
@import "./vendor/bootstrap/scss/carousel";
@import "./vendor/bootstrap/scss/card";
@import "./vendor/bootstrap/scss/nav";
@import "./vendor/bootstrap/scss/media";
@import "./vendor/bootstrap/scss/utilities";
@import "./vendor/bootstrap/scss/buttons";
@import "./vendor/bootstrap/scss/transitions";
@import "./vendor/bootstrap/scss/pagination";


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "cultnbw",
        "sidebar",
        "carousel",
        "events-sidebar",
        "fonts";

