<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

      {{ content }}

    {% include footer.html %}

<!-- Ajax for calendar START -->

  <!-- CULTNBW START -->
<script type="text/javascript">
	CULh_style = 'static';
	CULh_colorfg = '#356E81'; 
	CULh_colorbg = '#88A9B8'; 
</script>
<script src="//cdn.cul.columbia.edu/ldpd-toolkit/build/js/jquery-cul.js"></script>
<script src="//cdn.cul.columbia.edu/ldpd-toolkit/widgets/cultnbw.min.js"></script>
<!-- /CULTNBW END -->

  </body>

</html>
