---
layout: page
---
<div class="alert alert-primary">

<p>Please also visit our sister site, <a href="http://covidmakerresponse.com">covidmakerresponse.com</a>.</p>

</div>

<nav class="mb-3">
<div class="nav nav-tabs" id="face-shield-tablist" role="tablist">
  <a class="nav-item nav-link active" id="guide-tab" data-toggle="tab" role="tab" aria-controls="guide" aria-selected="true" href="#guide">Guide</a>
  <a class="nav-item nav-link" id="team-tab" data-toggle="tab" role="tab" aria-controls="team" aria-selected="false" href="#team">Team</a>
</div>
</nav>
<div class="tab-content" id="face-shield-tabcontent">
{{ content }}
</div>
